body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.CommonBG {
    background-color: #81689D;
}
.CommonColor{
    color: #1F2544;
}

.CommonHover {
    transition: 500ms;
}

.CommonHover:hover {
    color: #81689D;
}


.TopBarBG {
    background-color: #474F7A;
}

.TopBarNavLink {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
    transition: 500ms;
    color: white;
}

.TopBarNavLink:hover {
    color: #81689D;

}

.active {
    color: #FFD0EC;
    font-weight: 600;
}

.Header {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

.HeaderLogo {
    width: 200px;
    height: 100px;
}

.HeaderImage {
    height: 100px;

}