body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.CommonBG {
    background-color: #81689D;
}

.CommonColor {
    color: #1F2544 !important;
}



.CommonHover {
    transition: 500ms;
}

.CommonHover:hover {
    color: #81689D;
}


.TopBarBG {
    background-color: #474F7A;
}

.TopBarNavLink {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
    transition: 500ms;
    color: white;
}

.TopBarNavLink:hover {
    color: #81689D;

}


.active {
    color: #FFD0EC !important;
    font-weight: 600;
}


.Header {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

.HeaderLogo {
    width: 200px;
    height: 100px;
}

.HeaderImage {
    height: 100px;

}


.NavBar{
    /* margin-right: 10px; */
    color: #47507b;
    font-weight: 600;
    transition: 30ms;
}

.NavBar:hover{
    font-weight: 600;
    border-bottom: 3px solid #47507b;
    color: #82699e;
}
.PublicNavbarActive a.active{
    font-weight: 600 !important;
    border-bottom: 3px solid #47507b;
    background-color:#ffd0cf !important;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.NavBarTopMenu{
    padding: 10px;
    background-color: #82699e;
    margin-right: 10px;
    border-radius: 10px;
    color: #ffd0d1;
    font-weight: 600;
    transition: 500ms;
    letter-spacing: 2px;
}

.NavBarTopMenu:hover{
    color: #ffd0d1;
    background-color: #474f7a;
}
.SocialItem{
    transition: 700ms;
}
.SocialItem:hover{
    color: #81689D !important;
}